#contact {
	background-image: url("../images/the-town-bg-02.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 50px;
	padding-top:  160px;
	position: relative;
	height: auto;
	.contact-us {
	  min-height: 850px;
	  width: 100%;
	  height: auto;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  color: #fff;
	  .wrapper {
		width: 85%;
	  }
	  &__title {
		font-size: 2.6em;
		padding-bottom: 0.7em;
		border-bottom: 2px solid #fff;
		margin-bottom: 1.2em;
		position: relative;
		font-weight: normal;
		&::before {
		  content: "";
		  width: 25%;
		  height: 8px;
		  background-color: #fff;
		  position: absolute;
		  top: 100%;
		  left: 0;
		}
	  }
	  &__content {
		line-height: 1.5;
		margin-bottom: 3em;
		font-size: 1.5em;
	  }
	  &__method {
		display: flex;
		margin-bottom: 3.3em;
		
		> * {
		  flex-basis: 50%;
		  > a {
			display: flex;
			align-items: center;
			gap: 1em;
			color: #fff;
			text-decoration: none;
		  }
		}
	  }
	  &__other {
		display: flex;
		margin-bottom: 3.3em;
		> * {
		  flex-basis: 50%;
		  > a {
			display: flex;
			align-items: center;
			gap: 1em;
			color: #fff;
			text-decoration: none;
		  }
		}
		&__subcribe{  
			display: block;
			gap: 20px;
			
		  input{
			  min-height: 0;
			  border: 1px solid #fff;
			  background-color: transparent;
			  padding: 8px 25px;
			  color: #fff;
			  outline: none;
			  font-size: 100%;
			  max-width: 300px;
              min-width: none;
			  border-radius: 5px;
			  &::placeholder{
				  color: #fff;
			  }            
		  }
		  button{
			  padding: 9px 25px;
			  font-size: 100%;
			  border-radius: 5px;
			  border: none;
		  }
		}
	  }
	}
	footer{
	  color: #fff;
	  text-align: center;
	  a{
		  color: #fff;
		  text-decoration: none;
		  &:hover{
			  color: blue;
		  }
	  }
	}
  }
  @media (min-width: 1200px) {
	.TheTownContact {
	  max-width: 12480px;
	}
}

@media (max-width: 991px){
	.contact-us__method,  .contact-us__other{
        flex-direction: column;
        gap: 50px;
    }
}

