section#contact.TheTownContact
  .contact-us
    script(src='https://kit.fontawesome.com/d2c276d5c1.js' crossorigin='anonymous')
    .wrapper
      h1.contact-us__title Contact Us
      .contact-us__content
        | Nullam tincidunt, lacus a suscipit luctus, elit turpis tincidunt dui,
        | non tempus sem turpis vitae lorem. Maecenas eget odio in sapien ultrices
        | viverra vitae vel leo. Curabitur at elit eu risus pharetra pellentesque
        | at at velit.
      .contact-us__method
        .contact-us__method__phone
          a.contact-us__method__phone__item__link(href='tel:0100200340')
            i.fas.fa-3x.fa-phone.mr-4
            span.mb-1  010-020-0340
        .contact-us__method__email
          a.contact-us__method__email__item__link(href='mailto:info@company.co')
            i.fas.fa-3x.fa-envelope.mr-4
            span.mb-1  info@company.co
      .contact-us__other
        .contact-us__other__location
          a.contact-us__other__location__item__link(href='https://www.google.com/maps')
            i.fas.fa-3x.fa-map-marker-alt.mr-4
            span.mb-1  Location on Maps
        .contact-us__other__subcribe
          input.contact-us__other__subcribe__input(type='text' placeholder='Subcribe your email')
          button Submit
  footer.text-center.small.footer
    p.mb-0
      | Copyright &copy; 2019 Company Name
      | - Design: 
      a.footer-link(rel='nofollow' href='https://templatemo.com') Template Mo
