script(src="https://kit.fontawesome.com/a736d19817.js" crossorigin="anonymous")
div(class="container_introduction" id="introduction")
    div.container
        div.image
            img(src="./images/the-town-01.jpg")
        div.content-introduction
            div.text-title
                h2 Introduction
            p.intro-text 
                |The Town is 
                span simple CSS tempalte 
                |built on Boostrap v4.1.3 and this is little parallax layout that you can use for your websites 
                br
                br               
                |Please tell your friends about our site 
                a(class="special-word" href="https://templatemo.com button") templatemo
                |. Thank you. Curabitur dapibus tristique enim a imperdiet. Etiam tristique sem sed condimentum posure
            div.next 
                a.button(href="#our-work") Read More
    div.content
        div.detail
            div.primary 
                i(class="fas fa-4x fa-bus")
                h4 Curabitur at elit risus
            p.content_text Sed ultrice sit amet mi eu malesuada. Cras ultrices gravida nisi, ac pellentesque nunc tincidunt quis. Aenean at ornare lacus. Duis imperdiet lacus justo.
        div.detail
            div.primary   
                i(class="fas fa-4x fa-bicycle")
                h4 Nunc sed metus vel nisi 
            p.content_text Praesent ut finibus leo. Duis et tempus ipsum, id pretium nunc. Vivamus imperdiet sem quis orci pharetra convalis. Nunc a tempus nisi, sed fringilla pullus. In hac habitasse platea.
        div.detail
            div.primary     
                i(class="fas fa-4x fa-city ")
                h4 Fuse sed nisi sagittis 
            p.content_text Donec vestibulum libero nisl. Curabitur ac orci ac lorem blandit volupat. Sed ac sosalec nibh, ut porttitor elit. Sed id dui mi. Vestibulum ante ipsum primis in faucibus
   


