doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='style.css')
.navbar
  .container
    .navbar-title
      a(href='#')
        h2 The Town
    .navbar-collapse
      ul.ml
        li.nav-item
          a.nav-item-link(href='#') Introduction
        li.nav-item
          a.nav-item-link(href='#') Our Work
        li.nav-item
          a.nav-item-link(href='#') Contact Us
.menu
  h2.menu-title The Town
  p.menu-subtitle
    | Parallax Bootstrap Theme 
    br
    |             by TemplateMo
  .button
    .button1
      .button2
